<div class='contenedor'>
  <div class='card'>
    <img src={{equipo.crestUrl}} alt="">
    <h2>{{equipo.name}}</h2>
    <h2>{{equipo.area.name}}</h2>
    <h2>{{equipo.tla}}</h2>
    <h2>{{equipo.clubColors}}</h2>
    <a class='boton-editar' href="/equipo/{{equipo.id}}/editar">Editar</a>
  </div>
  <a class='boton-home' href='/'>Home</a>
</div>